{% extends "master.html" %}

{% if liste%}
  {% block title %}
    <h3>List of call of roll from new to old</h3>
  {% endblock %}

  {% block content %}
    {% for presence in liste %}
    <div class="container">
      <div class="row">
        <div class = "col-sm-4">
           <a href="/lycee/presence_detail/{{presence.id }}">{{presence.date}} {{presence.reason}}</a>
       </div>
      </div>
    </div>
    {% endfor %}
  {% endblock %}
{% else %}
  <p> No presence to show .</p>

{% endif %}